<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">

        <div class="username">
          <p class="font-weight-bold">User:
          <%= post.user.email %>
          </p>
        </div>
      </div>
      <%= image_tag post.image,size: "450x450", class: 'main-image' %>
      <div class="description">
        <%= post.description %>
      </div>
    </section>
    <div class="activities">
        <section class="likes" id="likes">
          <% if post.has_liked?(current_user.id)%>
            <p>"You already liked this post"</p>
          <% else %>
            <%= button_to "Like #{post.likes_count}", post_likes_path(id: post.id), remote: true, class: 'btn btn-primary' %>
          <% end %>
        </section>
        <section class="card my-1 comments" , id="post_comments">
          <div class="card-body">
            <p class="font-weight-bold">Comments</p>
            <div id="comments_list">
              <%= render 'posts/post_comments', post: post %>
            </div>
            <%= render 'posts/comment_form', post: post %>
          </div>
        </section>
  </div>
  <% end %>
</div>
